@media screen and (max-width: 1200px) {
	.iphone-img {
		width: 550px;
		margin-top: 50px;
	}
	.world-map {
		width: 585px;
		margin-top: 50px;
	}
	.fotorama {
		width: 30%;
	}
}
@media screen and (max-width: 1076px) {
	.menu__item {
		margin: 40px 15px 0px 15px;
	}
	.logo {
		margin: 40px 70px;
	}
	.title {
		margin-top: 100px;
	}
	.alarm, .lock {
		margin: 50px 50px 70px 50px;
		width: auto;
	}
	.iphone-img {
		width: 450px;
		margin-top: 50px;
	}
	.world-map {
		width: 100%;
		margin-top: 50px;
		float: right;
	}
	input[type="submit"] {
		position: absolute;
		left: 580px;
	}
	.fotorama {
		width: 30%;
	}
	input[type="submit-sub"] {
		position: absolute;
		left: 580px;
	}
}
@media screen and (max-width: 1024px) {
	.menu__item {
		margin: 30px 15px 0px 15px;
	}
	.logo {
		margin: 30px 70px;
	}
	.title {
		margin-top: 60px;
	}
	.alarm, .lock {
		margin: 50px 50px 70px 50px;
		width: auto;
	}
	.iphone-img {
		width: 450px;
		margin-top: 50px;
	}
	.world-map {
		width: 100%;
		margin-top: 50px;
		float: right;
	}
	input[type="submit"] {
		position: absolute;
		left: 580px;
	}
	.fotorama {
		width: 30%;
	}
	input[type="submit-sub"] {
		position: absolute;
		left: 580px;
	}
}
@media screen and (max-width: 768px) {
	.menu {
		display: block;
		text-align: center;
		width: 700px;
	}
	.title {
		margin-top: 50px;
	}
	.menu__item {
		margin: 30px 15px 0px 15px;
	}
	.alarm, .lock {
		text-align: center;
		margin: 50px 120px 70px 140px;
	}
	.iphone-img {
		width: 350px;
		margin-top: 100px;
	}
	.iphone-bar p {
		width: auto;
	}
	.links-iphone a {
		margin-right: 0px;
	}
	.hack {
		padding: 10px 15px;
		margin: 0;
	}
	.world-map-wrapper  {
		text-align: center;
	}
	.world-map-wrapper h3 {
		text-align: center;
		margin-bottom: 25px;
	}
	.partners {
		margin: 25px 0;
		display: block;
	}
	.world-map-wrapper p {
		margin: auto;
	}
	.world-map {
		width: 102%;
		margin-top: 50px;
	}
	input[type="submit"] {
		position: absolute;
		left: 460px;
	}
	.fotorama {
		width: 40%;
	}
	.plan-block {
		text-align: center;
		margin: 100px 0;
	}
	.plan-block p {
		width: 400px;
		margin: auto; 
	}
	.you-are {
		display: flex;
		margin: 50px 0 50px 200px;
		justify-content: center;
	}
	.starter-plan {
		margin-top: 50px;
	}
	.pro-plan {
		margin-top: 20px;
	}
	input[type="submit-sub"] {
		position: absolute;
		left: 460px;
	}
	.main-info {
		text-align: center;
	}
	.question-menu-1 {
		text-align: center;
	}
	.colums-3 {
		margin-left: 25%;
	}
	/*.logo {
		margin: 40px 120px;
	}
	.menu__item {
	margin: 40px 10px 0px 10px;
	}
	.get-app-btn a {
	padding: 9px 15px 9px 10px;
	}
	.fa-apple-menu {
	font-size: 15px;
	padding-right: 5px;
	}*/
}
@media screen and (max-width: 769px) {
	.menu {
		/*display: block;*/
		text-align: center;
		/*width: 700px;*/
	}
	.get-app-btn a {
		padding: 11px 14px 11px 10px;
		width: 100px;
		margin: 0;
	}
	.fa-apple-menu {
		font-size: 20px;
		padding-right: 5px;
	}
	.title {
		margin-top: 50px;
	}
	.menu__item {
		margin: 30px 10px 0px 10px;
	}
	.alarm, .lock {
		text-align: center;
		margin: 50px 120px 70px 140px;
	}
	.iphone-img {
		width: 350px;
		margin-top: 100px;
	}
	.iphone-bar p {
		width: auto;
	}
	.links-iphone a {
		margin-right: 0px;
	}
	.hack {
		padding: 10px 15px;
		margin: 0;
	}
	.world-map-wrapper  {
		text-align: center;
	}
	.world-map-wrapper h3 {
		text-align: center;
		margin-bottom: 25px;
	}
	.partners {
		margin: 25px 0;
		display: block;
	}
	.world-map-wrapper p {
		margin: auto;
	}
	.world-map {
		width: 102%;
		margin-top: 50px;
	}
	input[type="submit"] {
		position: absolute;
		left: 460px;
	}
	.fotorama {
		width: 40%;
	}
	.plan-block {
		text-align: center;
		margin: 100px 0;
	}
	.plan-block p {
		width: 400px;
		margin: auto; 
	}
	.you-are {
		display: flex;
		margin: 50px 0 50px 200px;
		justify-content: center;
	}
	.starter-plan {
		margin-top: 50px;
	}
	.pro-plan {
		margin-top: 20px;
	}
	input[type="submit-sub"] {
		position: absolute;
		left: 460px;
	}
	.main-info {
		text-align: center;
	}
	.question-menu-1 {
		text-align: center;
	}
	.colums-3 {
		margin-left: 25%;
	}
	.main-info {
		height: 300px;
	}
	.question-menu-1 {
		height: 130px;
	}
	.rope-down {
		margin-bottom: 50px;
	}
	/*.logo {
		margin: 40px 120px;
	}
	.menu__item {
	margin: 40px 10px 0px 10px;
	}
	.get-app-btn a {
	padding: 9px 15px 9px 10px;
	}
	.fa-apple-menu {
	font-size: 15px;
	padding-right: 5px;
	}*/
}
@media screen and (max-width: 576px) {
	.menu {
		display: block;
		width: auto;
	}
	.title h1 {
		font-size: 40px;
	}
	.title p {
		width: auto;
	}
	.title {
		margin-top: 20px;
	}
	.menu__item {
		margin: 15px 15px 0px 15px;
	}
	.iphone-img {
		width: 90%
	}
	.iphone-bar {
		text-align: center;
	}
	.second-p {
		margin-bottom: 20px;
	}
	.more {
		margin-left: 30px;
	}
	.world-map {
		width: 100%;
	}
	input[type="submit"] {
		position: absolute;
		left: 370px;
	}
	.fotorama {
		width: 50%;
	}
	.slider-features p {
		width: auto;
	}
	.you-are {
		margin-left: 120px;
	}
	input[type="submit-sub"] {
		position: absolute;
		left: 370px;
	}
	.colums-3 {
		margin-left: 0%;
	}
	.main-info {
		height: 300px;
	}
	.question-menu-1 {
		height: 130px;
	}
	.craft-work-block span {
		float: right;
		margin-right: 0;
	}
	.craft-work-block img {
		float: right;
	}
	.rope-down {
		margin-bottom: 50px;
	}
}
@media screen and (max-width: 375px) {
	.menu {
		display: block;
		width: auto;
	}
	.title h1 {
		font-size: 40px;
	}
	.title p {
		width: auto;
	}
	.title {
		margin-top: 20px;
	}
	.menu__item {
		margin: 20px 15px 0px 20px;
	}
	.alarm, .lock {
		text-align: center;
		margin: 50px 0;
	}
	.iphone-img {
		width: 90%
	}
	.iphone-bar {
		text-align: center;
	}
	.hack, .more {
		padding: 10px 15px;
		margin: 0;
	}
	.second-p {
		margin-bottom: 20px;
	}
	.more {
		margin-left: 30px;
	}
	.world-map {
		width: 100%;
	}
	input[type="email"] {
		width: auto;
		padding: 8px 0 8px 20px;
		margin: 30px 0;
	}
	input[type="submit"] {
		position: absolute;
		left: 80px;
		padding: 6px 66px;
		top: 260px;
		text-align: center;
	}
	.fotorama {
		width: 50%;
	}
	.slider-features p {
		width: auto;
	}
	.you-are {
		margin-left: 120px;
	}
	input[type="email-sub"] {
		width: auto;
		padding: 8px 0 8px 20px;
		margin: 30px 0;
	}
	input[type="submit-sub"] {
		position: absolute;
		left: 80px;
		padding: 6px 20px;
		top: 120px;
		text-align: center;
	}
	.colums-3 {
		margin-left: 0%;
	}
	.main-info {
		height: 300px;
	}
	.question-menu-1 {
		height: 130px;
	}
	.craft-work-block span {
		float: right;
		margin-right: 0;
	}
	.craft-work-block img {
		float: right;
	}
	.rope-down {
		margin-bottom: 50px;
	}

}
